section{
  margin: 1.5rem;
  padding: 2rem;

  --hue: 180;
  background-color: hsla(var(--hue), 100%, 15%, 0.651);
}


#s2{
  background-color: hsla(var(--hue), 100%, 35%, 0.651) ;
}

#s3{ 
  background-color: hsla(var(--hue), 100%, 65%, 0.651) ;
}

#s4{
  background-color: hsla(var(--hue), 100%, 85%, 0.651) ;
}
